h1{
    color: darkblue;
    text-align: center;
}
#tota{
    width: 1000px;
    height: auto;
}
#topo{
    width: 1000px;
    height: 100px;
    background-color: aqua;
    margin: auto;
}